

body{
    background-image: url(https://i.blogs.es/80cfd8/leopard-6k-/1366_2000.jpeg);

    background-repeat: no-repeat;
    background-size: cover;
}

#prueba
{
    background-color: #8623983a;
}






/* HEADER */
header {
    text-align: center;
    height: 270px;
    
    
}
img{
    text-align: left;
}

/* MAIN */

main {
    display: flex;
    justify-content: center;
    
    flex-direction: column;
    align-items: center;
}


body {
    background-color: rgb(255, 215, 222);
}

table {
    color: darkblue;
    width: 80%;
    border-color: darkblue;
    border: top 1px;
    ch;
    border-style: solid;
    border-collapse: collapse
}

td {
    color: rgba(253, 144, 235, 0.801);
    background-color: purple;
    border-color: darkblue;
    border: bottom 10px;
    border-style: solid;
    text-align: center;
}

th {
    color: rgba(253, 144, 235, 0.801);
    background-color: blueviolet;
}

p {
    text-align: center;
}

/* FOOTER */
footer {
    text-align: center;
    

}
h2{
    color: black;
}
